@import "color";
@import "asset";
@import "column";
@import "header";
@import "body";
@import "footer";
@import "card";
@import "form";
@import "image";
@import "article";
@import "navigator";

* {
    padding: 0;
    margin: 0;
    border: 0;
    white-space: normal;
}

html {
	font-family: "SekunderFont", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

.bdr {
    position: relative;
    width: 80px;
    margin: auto;
    margin-top: 15px;
    border-bottom: 4px $color-70 solid;
    &.left {
        margin: 0;
        margin-top: 15px;
    }
    &.right {
    	text-align: right;
        margin-top: 15px;
    }
    &.no-margin {
    	margin: 0 0;
    }
}

.mobile {
	@media (max-width: $max-width) {
		display: none;
	}
}
.desktop {
	display: none;
	@media (max-width: $max-width) {
		display: block;
	}
}

.bdr-bottom {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}