//font
@font-face {
	font-family: "MainFont";
    src: url("../fonts/cooper-black/COOPBL.ttf");
}
@font-face {
	font-family: "SekunderFont";
    src: url("../fonts/droid-sans/DroidSans.ttf");
}
@font-face {
	font-family: "PrimaryFont";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

//variabel
$col-all: 1200px;//calc(100% - 250px);
$col-full: 1200px;//calc(100% - 250px);
$max-width: 800px;
$min-width: 400px;

//position
@mixin post_none() {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
}
@mixin post_top($type) {
	position: $type;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
		    -ms-transform: translate(0, -50%);
		     -o-transform: translate(0, -50%);
		        transform: translate(0, -50%);
}
@mixin post_center($type) {
	position: $type;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
}

//border
@mixin bdr_top() {
	border-top: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_bottom() {
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_top_bottom() {
	border-top: 1px rgba(0,0,0,0.1) solid;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_all() {
	border: 1px rgba(0,0,0,0.1) solid;
}
@mixin bdr_none() {
	border: 0 #fff solid;
}

//padding
.padding-20px {
	padding: 20px 0;
}
.padding-15px {
	padding: 15px 0;
}
.padding-10px {
	padding: 10px 0;
}
.padding-5px {
	padding: 5px 0;
}

.padding-bottom-20px {
	padding-bottom: 20px;
}
.padding-bottom-15px {
	padding-bottom: 15px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-5px {
	padding-bottom: 5px;
}

.padding-top-20px {
	padding-top: 20px;
}
.padding-top-15px {
	padding-top: 15px;
}
.padding-top-10px {
	padding-top: 10px;
}
.padding-top-5px {
	padding-top: 5px;
}

//margin
.margin-20px {
	margin: 20px 0;
}
.margin-15px {
	margin: 15px 0;
}
.margin-10px {
	margin: 10px 0;
}
.margin-5px {
	margin: 5px 0;
}

.margin-bottom-20px {
	margin-bottom: 20px;
}
.margin-bottom-15px {
	margin-bottom: 15px;
}
.margin-bottom-10px {
	margin-bottom: 10px;
}
.margin-bottom-5px {
	margin-bottom: 5px;
}

.margin-top-20px {
	margin-top: 20px;
}
.margin-top-15px {
	margin-top: 15px;
}
.margin-top-10px {
	margin-top: 10px;
}
.margin-top-5px {
	margin-top: 5px;
}

.position {
	
	&.middle {
		@include post_top(relative);
	}
	&.center {
		@include post_center(relative);
	}
}

.width {
	position: relative;
	margin: auto;
	&.width-full {
		width: 100%;
	}
	&.width-all {
		width: $col-all;
		@media (max-width: $max-width) {
			width: calc(100% - 20px);
			margin: auto;
        }
	}
}

.menu-circle {
    position: relative;
    width: 100%;
    padding-top: 10px;
    li {
    	list-style: none;
    	display: inline-block;
    	a {
            position: relative;
            width: 40px;
            height: 40px;
            line-height: 40px;
            
            text-align: center;
            border-radius: 100%;

            background-color: $color-30;
            color: #fff;

            display: block;
        }
    }
}

.ctn-main-font {
	font-family: 
		"Helvetica Neue", 
		Helvetica, 
		Arial, 
		sans-serif;
	&.ctn-font-1 {
		font-family: "MainFont", Arial, Helvetica, sans-serif;
	}
	&.ctn-font-2 {
		font-family: "PrimaryFont", Arial, Helvetica, sans-serif;
	}
	&.ctn-font-3 {
		font-family: "SekunderFont", Arial, Helvetica, sans-serif;
	}
	&.ctn-thin {
		font-weight: 400;
	}
	&.ctn-bold {
		font-weight: 600;
	}
	&.ctn-capital {
		text-transform: capitalize;
	}
	&.ctn-big {
		font-size: 54pt;
	}
	&.ctn-standar {
		font-size: 44pt;
	}
	&.ctn-small {
		font-size: 34pt;
	}
	&.ctn-mikro {
		font-size: 24pt;
	}
	&.ctn-20pt {
		font-size: 20pt;
	}
	&.ctn-19pt {
		font-size: 19pt;
	}
	&.ctn-18pt {
		font-size: 18pt;
	}
	&.ctn-17pt {
		font-size: 17pt;
	}
	&.ctn-16pt {
		font-size: 16pt;
	}
	&.ctn-15pt {
		font-size: 15pt;
	}
	&.ctn-14pt {
		font-size: 14pt;
	}
	&.ctn-13pt {
		font-size: 13pt;
	}
	&.ctn-12pt {
		font-size: 12pt;
	}
	&.ctn-11pt {
		font-size: 11pt;
	}
	&.ctn-10pt {
		font-size: 10pt;
	}
	&.ctn-upp {
		text-transform: uppercase;
	}
	&.ctn-normal {
		text-transform: normal;
	}
	&.ctn-center {
		text-align: center;
	}
	&.ctn-sek-color {
		color: $txt-54-color;
		a {
			color: $txt-54-color;
			&:hover {
				color: $color-70;
			}
		}
	}
	&.ctn-min-color {
		color: $txt-84-color;
		a {
			color: $color-70;
		}
	}
	&.ctn-link-color {
		color: $txt-84-color;
		a {
			color: $color-70;
		}
	}
	&.ctn-white-color {
		color: #fff;
	}
	&.ctn-init-color {
		color: $color-70;
	}
	&.ctn-err-color {
		color: $txt-alert;
	}
	&.ctn-line {
		* {
			line-height: 1.5;
		}
	}
	&.ctn-thin {
		font-weight: 500;
	}
	&.ctn-center {
		text-align: center;
	}
	&.ctn-left {
		text-align: left;
	}
	&.ctn-right {
		text-align: right;
	}
}