.frm-people {
    position: relative;
    width: calc((100% - 20px) / 5);
    height: auto;
    margin: 20px 0;

    display: inline-block;
    vertical-align: top;

    @media (max-width: $max-width) {
        width: calc((100% - 10px) / 2);
    }
    
    .icn {
        position: relative;
        width: 100px;
        height: 100px;
    
        border-radius: 0;
        background-color: $color-70;
        color: $txt-84-color;
        font-size: 20pt;
        @include grid_col(1);
    
        .fl {
            @include post_center(absolute);
        }
    }
    .ctn {
        @include grid_col(2);
        line-height: 1.5;
        text-align: center;
        .ttl {
            font-size: 12pt;
            text-transform: uppercase;
            color: $txt-84-color;
        }
        .dsc {
            font-size: 11pt;
            color: $txt-54-color;
        }
        .more {
            padding-top: 20px;
        }
    }
}
.frm-service {
	position: relative;
	width: calc((100% - 20px) / 4);
    height: auto;
    margin: 20px 0;

	display: inline-block;
    vertical-align: top;

    @media (max-width: $max-width) {
        width: 160px;
        margin: 20px;
    }
    .fs-content {
        @include grid_2x(100px, 1fr);
        .icn {
            margin: 0;
        }
        .ctn {
            text-align: left;
            margin: 0 0;
        }
    }
    .icn-link {
        position: relative;
        width: 160px;
        margin: auto;
        display: block;
    }
    .icn {
        position: relative;
        width: 140px;
        height: 140px;
        margin: auto;
        border-radius: 100%;
        background-color: $color-70;
        color: $color-70-2;
        font-size: 18pt;
        border: 10px #fff solid;
        @include grid_col(1);
    
        .fl {
            @include post_center(absolute);
        }
    }
    .ctn {
        position: relative;
        width: calc(100%);
        margin: 10px 0;
        line-height: 1.5;
        text-align: center;
        @include grid_col(2);
        .ttl {
            font-size: 12pt;
            text-transform: uppercase;
            color: $txt-84-color;
        }
        .dsc {
            font-size: 11pt;
            color: $txt-54-color;
        }
        .more {
            padding-top: 10px;
        }
    }
}

.frm-article {
	position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.1);
    .cover {
        position: relative;
        width: 100%;
        height: 150px;
        &.big {
            height: 195px;
        }
        .type {
            position: absolute;
            top: 10px;
            left: 10px;

            background-color: $color-30;
            color: #fff;

            z-index: 1;

            font-size: 11pt;
            padding: 5px 10px;
            border-radius: 3px;
            &.type-circle {
                width: 35px;
                height: 35px;
                line-height: 35px;
                padding: 0 0;
                text-align: center;
                border-radius: 0;
            }
            &.bg-color-1 {
                background-color: $color-70;
                color: $color-70-2;
            }
        }
        .image {
            position: relative;
            width: 100%;
            height: 100%;
    
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .content {
        position: relative;
        width: calc(100% - 30px);
        padding: 10px 15px;
        white-space: normal;
        text-align: left;
        &.big {
            .dsc {
                height: 85px;
                overflow: hidden;
            }
        }
        .date {
            position: relative;
            height: 20px;
            overflow: hidden;
            color: $txt-54-color;
            font-size: 10pt;
            padding-bottom: 5px;
            .icn {
                font-size: 10pt;
            }
        }
        .ttl {
            position: relative;
            width: 100%;
            height: 95px;
            overflow: hidden;
            line-height: 1.2;
        }
        .dsc {
            position: relative;
            width: 100%;
            color: $txt-54-color;
            font-size: 11pt;
            line-height: 1.5;
            white-space: normal;
        }
    
        .more {
            padding: 10px 0;
            text-align: right;
        }
    }
}
.frm-small-article {
	position: relative;
    width: calc(100%);
    padding: 15px 0;
    .cover {
        position: relative;
        width: calc(100% - 20px);
        border: 10px #fff solid;
        border-radius: 100%;
        background-color: #f5f5f5;
        &.big {
            height: 200px;
        }
        .type {
            position: absolute;
            top: 5px;
            left: 5px;

            background-color: $color-30;
            color: #fff;

            z-index: 1;

            font-size: 11pt;
            padding: 5px 10px;
            border-radius: 3px;
        }
        .image {
            position: relative;
            width: 100%;
            height: 100%;
    
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .content {
        position: relative;
        width: calc(100%);
        text-align: center;
        &.big {
            .dsc {
                height: 80px;
                max-height: 80px;
                overflow: hidden;
            }
        }
        .date {
            position: relative;
            height: 20px;
            overflow: hidden;
            color: $txt-54-color;
            font-size: 10pt;
            padding-bottom: 5px;
            .icn {
                font-size: 10pt;
            }
        }
        .ttl {
            position: relative;
            width: 100%;
            padding-bottom: 10px;
        }
        .dsc {
            position: relative;
            width: 100%;
            height: 68px;
            overflow: hidden;
            color: $txt-54-color;
            font-size: 11pt;
            line-height: 1.5;
            white-space: normal;
        }
    
        .more {
            padding-top: 20px;
        }
    }
}

.frm-instagram {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
    border-radius: 100%;
    overflow: hidden;

	display: inline-block;

	background-size: cover;
	background-repeat: no-repeat;
    background-color: #f5f5f5;

    margin: 10px 0;
    border: 10px #fff solid;
    &:hover {
        cursor: pointer;
    }
    &:hover .desc {
        transition: 0.3s;
        display: block;
    }
    .desc {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        padding: 15px;
        background-color: rgba($color: #000000, $alpha: 0.34);
        color: #fff;
        white-space: normal;
        display: none;
        .ttl {
            @include post_center(absolute);
            width: calc(100% - 30px);
            padding: 0 15px;
            font-size: 14pt;
            font-weight: 500;
            text-shadow: 0 0 10px rgba($color: #000, $alpha: 0.34);
        }
    }
}
.frm-galery {
    position: relative;
    width: 100%;
    border-radius: 0;

    display: inline-block;

    &:hover {
        cursor: pointer;
    }
    .image {
        position: relative;
        width: 100%;
        padding-bottom: 100%;

        background-size: cover;
        background-repeat: no-repeat;
        background-color: #f5f5f5;

        .icn {
            @include post_center(absolute);
            background-color: rgba($color: $color-70, $alpha: 0.64);
            color: #fff;
            font-size: 18pt;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 100%;
            cursor: pointer;
            &:hover {
                transition: 0.3s;
                background-color: rgba($color: $color-70, $alpha: 0.84);
            }
        }
    }
    .desc {
        text-align: left;
        white-space: normal;
        .ttl {
            position: relative;
            width: calc(100% - 30px);
            padding: 15px;
        }
    }
}

.frm-testimonial {
	position: relative;
	width: calc(100% - 40px);
    padding: 20px;
    display: inline-block;
    background-color: #fff;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    &:hover {
        background-color: $color-70;
        .ft-top {
            transition: 0.35s;
            border: 5px #fff solid;
        }
        .ft-mid {
            .ttl {
                transition: 0.35s;
                color: #fff;
            }
            .subttl {
                transition: 0.35s;
                color: #fff;
            }
        }
        .ft-ctn {
            transition: 0.35s;
            color: #fff;
        }
        .ft-bot {
            .icn {
                transition: 0.35s;
                color: #fff;
            }
        }
    }
    .ft-grid {
        @include grid_2x(150px, 1fr);
        @include grid_gap(20px);
        .ft-title {
            @include grid_col(1);
        }
        .ft-info {
            @include grid_col(2);
            text-align: left;
        }
    }
    .ft-top {
        position: relative;
        width: calc(100% - 10px);
        border: 5px $color-70 solid;
        border-radius: 100%;
        @include grid_col(1);
    }
    .ft-mid {
        .ttl {
            color: $color-70;
        }
        .subttl {
            color: $txt-54-color;
        }
    }
    .ft-ctn {
        margin: 10px 0;
        color: $txt-54-color;
    }
    .ft-bot {
        .icn {
            position: relative;
            text-align: center;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color: $txt-54-color;
        }
    }
    
}

.frm-menu {
	position: relative;
	width: calc(100% - 40px);
    padding: 20px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    &:hover {
        .ft-top {
            transition: 0.35s;
            border: 5px $color-70 solid;
        }
        .ft-mid {
            .ttl {
                transition: 0.35s;
                color: $color-70;
            }
        }
        .ft-bot {
            .icn {
                transition: 0.35s;
                color: $color-70;
            }
        }
    }
    .ft-top {
        position: relative;
        width: calc(100% - 10px);
        border: 5px #fff solid;
        border-radius: 100%;
        margin-bottom: 15px;
    }
    .ft-mid {
        .ttl {
            color: $txt-84-color;
        }
        .subttl {
            color: $txt-54-color;
        }
    }
    .ft-ctn {
        margin: 25px 0;
        color: $txt-54-color;
    }
    .ft-bot {
        .icn {
            position: relative;
            text-align: center;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color: $txt-54-color;
        }
    }
    
}

.frm-notes {
    position: relative;
    width: 100%;
    margin: 15px 0;
    .frn-top {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 100%;

        background-color: $color-70-2;
        color: $color-70;
        border: 1px $color-70 solid;
        font-size: 10pt;

        margin-right: 10px;

        display: inline-block;
        vertical-align: middle;
    }
    .frn-mid {
        position: relative;
        width: calc(100% - 60px);
        display: inline-block;
        vertical-align: middle;
        .ttl {
            font-weight: 600;
            font-size: 14pt;
        }
        .sub-ttl {
            font-size: 11pt;
            color: $txt-54-color;
        }
    }
}

.frm-today {
    position: relative;
    width: 100%;
    height: 400px;
    .ft-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.34);
        .ft-place {
            @include post_center(absolute);
            width: calc(100% - 50px);
            text-align: center;
            color: #fff;
            line-height: 1.5;
        }
        .ft-top {
            cursor: default;
            padding: 20px 0;
            h1 {
                font-weight: 500;
            }
        }
        .ft-mid {
            position: relative;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 0;
            font-size: 22pt;
            cursor: pointer;
            background-color: rgba($color: $color-70, $alpha: 0.84);
            color: $color-70-2;
            &:hover {
                background-color: rgba($color: $color-70, $alpha: 0.94);
            }
        }
    }
}

.frm-galery {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.1);
    background-color: #fff;
    .fg-top {
        cursor: pointer;
        &:hover {
            .image {
                background-size: cover;
                transition: 0.3s;
            }
        }
        .image {
            position: relative;
            margin: auto;
        }
    }
    .fg-mid {
        position: relative;
        width: calc(100% - 20px);
        padding: 10px;

        font-size: 10.5pt;
        color: $txt-54-color;
        line-height: 1.5;
    }
}

.frm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    overflow-y: auto;
    background-color: rgba($color: #000, $alpha: 0.74);
    display: none;
    .fp-place {
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 5;
        }
        .fp-mid {
            iframe {
                @media (max-width: $max-width) {
                    width: calc(100% - 30px);
                    margin: auto;
                }
            }
            .pl-video {
                position: relative;
                margin: auto;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            .load {
                @include post_center(absolute);
                width: 200px;
                padding: 15px;
                background-color: #fff;
                @include grid_2x(40px, 1fr);
                .col-1 {
                    position: relative;
                    width: 40px;
                    @include grid_col(1);
                }
                .col-2 {
                    @include grid_col(2);
                }
            }
            .vid {
                @include post_center(absolute);
                width: 100%;
                height: calc(100vh - 130px);
                background-color: #000;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .map {
                @include post_center(absolute);
                width: 100%;
                height: calc(100vh - 130px);
                background-color: #f0f0f0;
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .img {
                @include post_center(absolute);
                margin: auto;
                max-width: calc(100% - 50px);
                max-height: calc(100vh - 50px);
                @media (max-width: $max-width) {
                    max-width: calc(100%);
                    max-height: calc(100vh);
                }
            }
            .search {
                @include post_center(absolute);
                width: $col-full;
                @media (max-width: $max-width) {
                    width: calc(100% - 30px);
                    padding: 0 15px;
                }
                #src {
                    position: relative;
                    width: calc(100% - 30px);
                    padding: 15px;
                    font-size: 32pt;
                    font-weight: 600;
                    text-align: center;

                    background-color: rgba($color: #000, $alpha: 0);
                    color: $color-70;

                    border-bottom: 4px $color-70 solid;
                }
            }
        }
    }
}

.frm-sign {
    @include post_center(absolute);
    width: 500px;
    border-radius: 10px;
    @include bdr_all();
    @media (max-width: 500px) {
        width: calc(100% - 30px);
        margin: auto;
    }
    .fs-top {
        text-align: center;
        padding: 25px 0;
        @include bdr_bottom();
        h1 {
            color: $txt-54-color;
            text-transform: uppercase;
        }
        .logo {
            position: relative;
            width: calc(100% - 100px);
            margin: auto;
        }
    }
    .fs-mid {
        position: relative;
        width: calc(100% - 50px);
        padding: 25px;
    }
    .fs-block {
        position: relative;
        width: 100%;
        box-shadow: 0 0 1px 1px rgba($color: #000, $alpha: 0.1);
        border-radius: 5px;
        overflow: hidden;
        @include grid_2x(45px, 1fr);
        .fs-left {
            @include grid_col(1);
            .icn {
                position: relative;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                background-color: #f0f0f0;
                color: $txt-54-color;
                font-size: 11pt;
            }
        }
        .fs-right {
            @include grid_col(2);
        }
    }
    .fs-button {
        text-align: right;
    }
    .fs-text {
        position: relative;
        width: 100%;
        padding-bottom: 25px;
        text-align: center;
    }
}

.frm-tags {
    position: relative;
    display: inline-block;
    a {
        position: relative;
        padding: 10px 15px;
        display: block;
        
        background-color: #fff;
        color: $txt-54-color;
        font-size: 11pt;
        
        border: 1px rgba($color: #000, $alpha: 0.34) solid;
        border-radius: 45px;

        margin: 7.5px;
        &:hover {
            color: $txt-84-color;
            border: 1px rgba($color: #000, $alpha: 0.34) solid;
        }
    }
}

.frm-main-page {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba($color: #000, $alpha: 0.14);
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 3px rgba($color: #000, $alpha: 0.14);
        transition: 0.3s;
    }
    .fmp-top {
        position: relative;
        width: 100%;
        height: 150px;
        line-height: 150px;
        text-align: center;
        .icn {
            font-size: 32pt;
            color: $txt-54-color;
        }
        &.bg-1 {
            background-color: $color-70;
            .icn {
                color: #fff;
            }
        }
        &.bg-2 {
            background-color: $color-30;
            .icn {
                color: #fff;
            }
        }
        &.bg-3 {
            background-color: $color-10;
            .icn {
                color: #fff;
            }
        }
        &.bg-4 {
            background-color: $color-5;
            .icn {
                color: #fff;
            }
        }
    }
    .fmp-mid {
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
        text-align: center;
        font-size: 12pt;
        color: $txt-54-color;
        @include bdr_top();
    }
}

.frm-view-galery {
    position: relative;
    width: 100%;
    padding: 40px 0;
    margin: auto;
    background-color: #000;
    @media (max-width: $max-width) {
        padding: 20px 0;
    }
    .frm-place {
        position: relative;
        width: 600px;
        margin: auto;
        @media (max-width: $max-width) {
            position: relative;
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .top {
        padding-bottom: 10px;
        img {
            width: 100%;
        }
    }
    .mid {
        padding-bottom: 10px;
    }
    .bot {
        text-align: left;
    }
}

.frm-video {
    position: relative;
    width: 100%;
    height: 350px;
    @media (max-width: $max-width) {
        width: 100%;
        display: inline-block;
        margin-right: -4px;
    }
    &:hover {
        .image {
            background-size: 110%;
        }
    }
    .fv-mid {
        position: relative;
        width: 100%;
        height: 100%;
        .image {
            height: 100%;
            background-size: cover;
        }
        .icn {
            @include post_center(absolute);
            background-color: rgba($color: $color-70, $alpha: 0.64);
            color: #fff;
            font-size: 22pt;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            border-radius: 100%;
            cursor: pointer;
            &:hover {
                transition: 0.3s;
                background-color: rgba($color: $color-70, $alpha: 0.84);
            }
        }
    }
}