.footer-map {
    position: relative;
    width: 100%;
    overflow: hidden;
    .map {
        .image {
            height: 400px;
        }
    }
}
.footer-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $max-width) {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }
    .frm-video {
        position: relative;
        width: 33.33%;
        height: 400px;
        @media (max-width: $max-width) {
            width: 100%;
            display: inline-block;
            margin-right: -4px;
        }
    }
}
.footer {
	position: relative;
	width: 100%;
    @include bdr_top();
    @media (max-width: $max-width) {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
    &.split-2 {
        padding: 40px 0;
        @include col_masonry(2);
        @media (max-width: $max-width) {
            @include col_masonry(1);
        }
    }
    &.split-3 {
        padding: 40px 0;
        @include col_masonry(3);
        @media (max-width: $max-width) {
            @include col_masonry(1);
        }
    }
    &.split-4 {
        padding: 40px 0;
        @include col_masonry(4);
        @media (max-width: $max-width) {
            @include col_masonry(1);
        }
    }
    .place {
        position: relative;
        width: 100%;
        @include col_set($col-full);
        &.col-2 {
            @include col_masonry(2);
            @include col_masonry_gap(20px);
            @media (max-width: $max-width) {
                @include col_masonry(1);
            }
        }
        &.col-3 {
            @include col_masonry(3);
            @include col_masonry_gap(20px);
            @media (max-width: $max-width) {
                @include col_masonry(2);
            }
            @media (max-width: $min-width) {
                @include col_masonry(1);
            }
        }
        &.col-4 {
            @include col_masonry(4);
            @include col_masonry_gap(20px);
            @media (max-width: $max-width) {
                @include col_masonry(1);
            }
        }
        &.col-5 {
            @include col_masonry(5);
            @include col_masonry_gap(20px);
            @media (max-width: $max-width) {
                @include col_masonry(1);
            }
        }
        &.grid-4 {
            .col {
                width: calc((100% - 20px) / 4);
            }
        }
        .col {
            position: relative;
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }
        .title {
            .logo {
                width: 320px;
                @media (max-width: $max-width) {
                    width: 250px;
                }
            }
        }
        
        .info {
            h3 {
                line-height: 1.5;
                color: $txt-54-color;
                font-size: 16px;
            }
            p {
                line-height: 1.5;
                color: $txt-54-color;
                font-size: 14px;
            }
        }
        .menu {
            position: relative;
            width: 100%;
            margin-bottom: 15px;
            li {
                position: relative;
                width: 100%;
                padding: 10px 0;
                font-size: 12pt;
                color: $txt-54-color;
                list-style: none;
                overflow: hidden;
                @include grid_2x(30px, 1fr);
                a {
                    @include grid_2x(30px, 1fr);
                    font-size: 12pt;
                    color: $txt-54-color;
                    &:hover {
                        .ttl {
                            text-decoration: underline;
                        }
                    }
                }
                .icn {
                    position: relative;
                    width: 100%;
                    @include grid_col(1);
                }
                .ttl {
                    position: relative;
                    width: 100%;
                    white-space: normal;
                    @include grid_col(2);
                }
            }
        }
    }
    .map {
        position: relative;
        width: 350px;
        background-color: #f0f0f0;
        @media (max-width: $max-width) {
            width: 100%;
        }
    }
    .pl-logo {
        position: relative;
        width: 100%;
        text-align: center;
        .logo {
            width: 230px;
        }
    }
    .copy {
        position: relative;
        width: 100%;
        padding: 25px 0;
        text-align: center;
        background-color: #fff;
        color: $txt-54-color;
        font-size: 11pt;
        .menu {
            position: relative;
            width: 100%;
            padding-top: 10px;
            li {
                list-style: none;
                display: inline-block;
                a {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    
                    text-align: center;
                    border-radius: 100%;

                    background-color: $color-70;
                    color: #fff;

                    display: block;
                }
            }
        }
    }
}