.header {
    position: relative;
    width: 100%;
    background-color: rgba(0,0,0,0);
    .place {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 100;
        background-color: $color-70;
        box-shadow: 0 0 15px 2.5px rgba(#000, 0.1);
        &.hd-bg-trans {
            background-color: rgba($color: #000000, $alpha: 0.24);
            @include bdr_none();
            .menu {
                .pl-menu {
                    .mn-menu {
                        .mn-list {
                            .mn-link {
                                color: #fff;
                                @media (max-width: $max-width) {
                                    color: $txt-54-color;
                                }
                                &:hover {
                                    text-shadow: 0 0 0 $color-70;
                                }
                            }
                            &.active {
                                a {
                                    color: $color-70;
                                }
                            }
                        }
                        .mn-search {
                            color: #fff;
                            &:hover {
                                color: $color-70;
                            }
                        }
                    }
                }
                .pl-logo {
                    .logo-txt {
                        color: #fff;
                    }
                }
                .pl-bar {
                    ul {
                        li {
                            background-color: rgba(0,0,0,0);
                            color: #fff;
                        }
                    }
                }
            }
        }
        .menu {
            position: relative;
            height: 60px;
            @include col_set($col-full);
            @include grid_2x(200px, 1fr);
            @media (max-width: $max-width) {
                @include grid_2x(200px, 1fr);
            }
            .col-1 {
                @include grid_col(1);
            }
            .col-2 {
                @include grid_col(2);
            }
            .pl-logo {
                position: relative;
                width: 100%;
                height: 60px;
                overflow: hidden;
                .logo {
                    @include post_top(relative);
                    width: 100%;
                }
                .logo-txt {
                    position: relative;
                    color: $txt-84-color;
                    font-size: 22pt;
                    font-weight: 500;
                    .tx {
                        font-family: MainFont ,Arial, Helvetica, sans-serif;
                    }
                }
            }
            .pl-menu {
                position: relative;
                float: right;
                right: 0;
                @media (max-width: $max-width) {
                    position: fixed;
                    top: 0;
                    width: 300px;
                    height: 100vh;
                    background-color: $color-70;
                    box-shadow: 0 0 20px rgba(0,0,0,0.1);
                    overflow-y: auto;
                    z-index: 1000;
                    display: none;
                }
                .mn-menu {
                    &.nav {
                        display: none;
                        @media (max-width: $max-width) {
                            display: block;
                        }
                    }
                    .mn-list {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        list-style: none;
                        margin-right: -4px;
                        padding: 0 10px;
                        @media (max-width: $max-width) {
                            width: 100%;
                            padding: 0 0;
                            display: block;
                            margin: 0 0;
                            border-bottom: 1px rgba(0,0,0,0.1) solid;
                        }
                        &.active {
                            .mn-link {
                                color: #fff;
                                border-bottom: 4px #fff solid;
                            }
                        }
                        &:hover {
                            .mn-link {
                                color: #fff;
                            }
                        }
                        &:hover .sb-menu {
                            display: block;
                            transition: 0.3s;
                            @media (max-width: $max-width) {
                                display: none;
                            }
                        }
                        .mn-link {
                            position: relative;
                            height: 56px;
                            line-height: 56px;
                            display: block;
                            font-size: 11pt;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: $txt-34-color;
                            font-family: "SekunderFont", Arial, Helvetica, sans-serif;
                            border-bottom: 4px rgba(0,0,0,0) solid;
                            &:hover {
                                color: #fff;
                            }
                            @media (max-width: $max-width) {
                                width: calc(100% - 30px);
                                padding: 0 15px;
                            }
                        }
                        .sb-menu {
                            position: absolute;
                            min-width: 250px;
                            width: auto;
                            top: 50px;
                            right: 0;
                            padding: 10px 0;
                            background-color: #fff;
                            display: none;
                            @include bdr_all();
                            @media (max-width: $max-width) {
                                position: relative;
                                top: 0;
                                width: 100%;
                                @include bdr_none();
                                @include bdr_top();
                            }
                            &.sb-open {
                                @media (max-width: $max-width) {
                                    display: block;
                                }
                            }
                            .sb-list {
                                list-style: none;
                                .sb-link {
                                    position: relative;
                                    display: block;
                                    width: calc(100% - 30px);
                                    padding: 15px;
                                    color: $txt-54-color;
                                    font-size: 11pt;
                                    font-family: "SekunderFont", Arial, Helvetica, sans-serif;
                                    &:hover {
                                        background-color: #f5f5f5;
                                    }
                                    .icn {
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                    .mn-search {
                        position: relative;
                        width: 40px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        cursor: pointer;
                        color: $txt-34-color;
                        &:hover {
                            color: #fff;
                        }
                        @media (max-width: $max-width) {
                            width: calc(100% - 30px);
                            padding: 0 15px;
                            display: block;
                            margin: 0 0;
                        }
                    }
                    .mn-close {
                        position: relative;
                        width: 100%;
                        text-align: right;
                        cursor: default;
                        padding: 5px 0;
                        .icn {
                            position: relative;
                            right: 7.5px;
                            width: 45px;
                            height: 45px;
                            line-height: 45px;
                            border-radius: 100%;
                            text-align: center;
                            cursor: pointer;
                            color: #fff;
                            &:hover {
                                color: $color-70;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            .pl-active {
                &:after {
                    display: none;
                    transition: 0.5s;
                }
                @media (max-width: $max-width) {
                    display: block;
                    transition: 0.5s;
                }
            }
            .pl-bar {
                position: relative;
                top: 8px;
                float: right;
                display: none;
                @media (max-width: $max-width) {
                    display: block;
                }
                ul {
                    li {
                        position: relative;
                        list-style: none;
                        
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        border-radius: 100%;
                        color: #fff;
                        font-size: 11pt;
                        font-weight: 500;
                        cursor: pointer;
                        text-align: center;
                        &:hover {
                            background-color: #fff;
                            color: $color-70;
                        }
                    }
                }
            }
        }
    }
}